.root {
  margin-top: 60px;
  li {
    display: inline-block;
  }

  a {
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    border: 1px solid #2B2B2B;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    color: #2B2B2B;
    line-height: 32px;
    transition: all .3s;

    &:hover {
      background-color: #2B2B2B;
      color: #fff;
    }
  }

  :global {
    .selected {
      a {
        background-color: #2B2B2B;
        color: #fff;
      }
    }
  }
}