@import './variables';
@import './libs/normalize';

@import './components/all';

body {
  background-color: #fffdf9;
}

.container {
  // width: calc(100vw - 100px);
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1110px;
}

.header {
  margin-top: 45px;
  margin-bottom: 75px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
  }
}

.search {
  margin-left: 135px;
  position: relative;

  &__input {
    width: 256px;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid $gray;
    padding-bottom: 4px;
    background-color: transparent;
  }

  &__ic {
    position: absolute;
    right: 2px;
    bottom: 5px;
    &--close {
      cursor: pointer;
      bottom: 7px;
    }
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.categories {
  &__lists {
    display: flex;
    align-items: center;
    height: 33px;
  }
  &__list {
    color: $black;
    background-color: #fff;
    cursor: pointer;
    transition: $duration;
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &-active {
    padding: 7px 34px;
    color: #fff;
    border-radius: 7px;
    background-color: $active;
  }
}

.sort {
  position: relative;
  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__title {
    display: inline-block;
    font-size: 16px;
    margin-right: 13px;
    margin-left: 7px;
    font-weight: 500;
  }
  &__selected {
    font-weight: 300;
    color: $gray;
    text-decoration: underline;
  }
  &__popup {
    background-color: $black;
    color: #fff;
    border-radius: 7px;
    padding: 10px 0;
    width: 170px;
    // font-size: 14px;
    position: absolute;
    right: 0;
    z-index: 10;
  }
  &__lists {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 170px;
    margin: 0 auto;
  }
  &__list {
    cursor: pointer;
    width: 100%;
    padding: 5px 30px;
    transition: $duration;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &:hover {
      background-color: #fffdf9;
      color: $active;
    }
  }
  &-active {
    background-color: #fffdf9;
    color: $active;
  }
}

.book {
  display: flex;
  justify-content: space-between;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 185px;
    position: relative;
  }
  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: $black;
    color: #fff;
  }
  &__img {
    height: 300px;
    width: 185px;
  }
  &__title {
    font-family: 'Podkova';
    color: $active;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  &__author {
    font-weight: 400;
    font-size: 14px;
    color: $gray;
    margin-bottom: 16px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__price span {
    font-weight: 500;
    font-size: 18px;
  }
  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid $black;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: $black;
      & .book__plus {
        &::before {
          background-color: #fff;
        }
        &::after {
          background-color: #fff;
        }
      }
    }
  }
  &__plus {
    position: relative;
    width: 11px;
    height: 11px;
    font-size: 0;
    // border: 1px solid #000;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      height: 2px;
      width: 100%;
      background-color: #2a2a2a;
      transition: all 0.3s;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      width: 2.1px;
      height: 100%;
      background-color: #2a2a2a;
      transition: all 0.3s;
    }
  }
}

.content-book {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 100px;
}

.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();

    span {
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }
      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  .content__items {
    display: block;
  }

  &__item {
    display: flex;
    width: 100%;
    border-top: 1px solid $gray-line;
    padding-top: 30px;
    margin-top: 30px;

    &-img {
      display: flex;
      align-items: center;
      margin-right: 15px;
      width: 10%;

      img {
        width: 90px;
        height: 120px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
      }

      p {
        font-size: 18px;
        color: #8d8d8d;
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 13%;

      &-minus {
        svg {
          path:first-of-type {
            display: none;
          }
        }

        &:disabled {
          opacity: 0.4;
          border-color: #787878;

          &:active {
            transform: none;
          }

          &:hover {
            background-color: transparent;

            svg path {
              fill: #787878;
            }
          }

          svg path {
            fill: #787878;
          }
        }
      }

      b {
        font-size: 18px;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;

      b {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.01em;
      }
    }

    &-remove {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 4%;

      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: $gray-line, $amount: 15);
        }
      }

      .button {
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }
        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 50px 0;

    &-details {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 18px;

        &:last-of-type {
          b {
            color: $black;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;

        border-color: darken($color: $gray-line, $amount: 10);

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 500;
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: 12px;
          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;
      }
    }
  }

  &--empty {
    margin: 80px auto;
    width: 620px;
    text-align: center;

    h2 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    p {
      font-size: 20px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}

.cart-video {
  margin: 50px 0;
}
